.subJokeHead {
    margin-top: 10px;
    margin-bottom: 0px;
    padding-top: 25px;
    padding-bottom: 25px;
    background-color:rgb(255, 235, 51);
    background-size: cover;
    border: 3px black solid;
    border-radius: 1rem;
    vertical-align: middle;
    text-align: center;
    font-family: 'CartoonistKooky';
    
}
