.submitContainer {
    /*border-radius: 1rem;*/
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    margin-top: 120px;
    margin-right: 10px;
    margin-left: 10px;
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: 2px -2px 80px 7px rgba(27, 49, 49, 0.849);
}

.submitContainerText {
    background-color: rgb(0, 0, 0) !important;
}

.submitContainerImage {
    background-color: rgb(0, 0, 0) !important;
}

.submitContainerVideo {
    background-color: rgb(0, 0, 0) !important;
}

.submitTitle {
    background-color:rgb(255, 235, 51);
    border: 3px black solid;
    vertical-align: middle;
    text-align: center;
    font-family: 'CartoonistKooky';
    font-size: 40px;
    font-style: italic;
    box-shadow: 2px 25px 80px 7px  rgba(0, 0, 0, 0.473);
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    margin-right: -20px;
    margin-left: -20px;
    margin-top: -101px;
}

.submitLabel {
    font-family: 'BuiltTitlingRg-Regular';
    color: white;
    font-size: 35px;
    margin-bottom: -5px;
}

.submitPlaceholder {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-stretch: expanded;
    font-size: 20px;
}
.submitCat {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    color: white;
    font-size: 15px;
   
}

.submitAnon {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-stretch: expanded;
    color: white;
    font-size: 20px;
}

.submitButton {
    font-family: 'BuiltTitlingRg-Regular';
    font-size: 30px;
    margin-top: 50px;
    margin-bottom: 50px;

}
.submitSmallText {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 15px;
}

