.JokeSubmission {
    background-color: rgb(0, 0, 0) !important;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-stretch: expanded;
    margin-right: 10px;
    margin-left: 10px;
    height: 550px;
    padding-left: 20px;
    padding-right: 20px;
   
   
}

.joke {
    border-radius: 1rem;
    padding-left: 5px;
    border-style: none;

}


@media only screen and (max-device-width: 620px) {
    .btn-lg {
    /* margin-left: 250px; */
    flex-wrap: wrap;
}
}

.checkbox {
    margin-left: 10px;
}

.profilename {
    margin-left: 10px;
}

.submitjokebox {
    padding-left: 0px;
    padding-right: 0px;
}
