.nav-color {
    background-color: #fcef50 !important;
    
  }
  .nav-font {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: large;
  }
  
  .nav-siteName {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    align-items: stretch;
    font-style: oblique;
  }