.submitContainer {
    background-color: rgb(0, 0, 0) !important;
    /*border-radius: 1rem;*/
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    margin-top: 120px;
    margin-right: 10px;
    margin-left: 10px;
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: 2px 10px 30px 10px rgb(90, 94, 94);
}

.submitTitle {
    background-color:rgb(255, 235, 51);
    border: 3px black solid;
    vertical-align: middle;
    text-align: center;
    font-family: 'CartoonistKooky';
    font-size: 40px;
    font-style: italic;
    
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    margin-right: -20px;
    margin-left: -20px;
    margin-top: -101px;
}

.submitLabel {
    font-family: 'BuiltTitlingRg-Regular';
    color: white;
    font-size: 35px;
    margin-bottom: -5px;
}

.submitPlaceholder {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-stretch: expanded;
    font-size: 20px;
}
.submitCat {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    font-size: 15px;
   
}

.submitAnon {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-stretch: expanded;
    color: white;
    font-size: 20px;
}

.submitButton {
    font-family: 'BuiltTitlingRg-Regular';
    font-size: 30px;
    margin-top: 50px;
    margin-bottom: 50px;

}

